/* CSSのリセット */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.subject h1 {
  font-size: 50px;
  text-align: center;
  padding: 70px 0;
}

header {
  height: 70px;
  width: 100%;
  background: rgb(73, 151, 167, 0.9);
  position :fixed;
  top: 0;
  display: flex;
}

.header-left {
  display: flex;
}

.header-left a {
  width: 90px;
  line-height: 70px;
  text-align: center;
  font-size: 14px;
  color: white;
  display: block;
  background: rgb(68, 67, 67);
}

.header-left p {
  color: white;
  font-size: 30px;
  line-height: 70px;
  padding: 0 20px;
}

.header-left a:hover {
  background: rgb(43, 42, 42)
}

.header-right {
  display: flex;
  margin-left: auto;
}

.header-right a {
  line-height: 70px;
  padding: 0 20px;
  color: white; 
  display: block;
  text-align: center;
}

.header-right a:hover {
  background: rgb(68, 67, 67);
}

.profile-wrapper {
  margin-top: 70px;
  background: rgb(239, 243, 236);
  height: 620px;
}

.profiles {
  display: flex;
  justify-content: space-between;
}

.profile-icon img {
  box-sizing: border-box;
  height: 280px;
  width: 280px;
  border-radius: 10px;
  border: 7px solid rgb(61, 61, 61);
}

.profile-introduce {
  height: 280px;
  width: 280px;
}

.profile-introduce h1 {
  font-size: 45px;
  text-align: center;
}

.profile-introduce p {
  font-size: 15px;
  text-align: center;
}

.profile-hobby {
  width: 280px;
  height: 280px;
  background: rgb(105, 175, 189);
  color: rgb(31, 30, 30);
  border-radius: 10px;
}

.profile-skill {
  width: 280px;
  height: 280px;
  background: rgb(56, 56, 56);
  color: rgb(105, 175, 189);
  border-radius: 10px;
}

.profile-list h1 {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}

.profile-list dt {
  margin-left: 25px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 20px;
}

.profile-list dd {
  font-size: 15px;
}

.sns-accounts {
  width: 260px;
  margin: 10px auto 0 auto;
}

.sns-accounts a {
  display: block;
  color: white;
  margin-top: 15px;
  border-radius: 10px;
  text-align: center;
  line-height: 45px;
}

.github {
  background: #3c4044;
  box-shadow: 0 5px black;
}

.qiita {
  background: #55c500;
  box-shadow: 0 5px green;
}

.twitter {
  background: rgba(29,161,242);
  box-shadow: 0 5px blue;
}

.btn:active {
  box-shadow: none;
  position: relative;
  top: 5px;
}

.application-wrapper {
  background: rgb(226, 240, 240);
}

.applications {
  display: flex;
  flex-wrap: wrap;
}

.app {
  width: 50%;
  margin: 20px 0;
}

.app-icon {
  padding-top: 20px;
  text-align: center;
}

.app-icon a {
  display: block;
  font-size: 34px;
}

.app-icon a:hover {
  color: rgb(145, 94, 1);
  font-weight: bold;
  text-decoration: none;  
}

.app-icon img {
  margin-top: 15px;
  width: 500px;
  height: 280px;
}

.app-comment {
  padding-bottom: 20px;
  padding-left: 42px;
  width: 500px;
  font-size: 16px;
}

.article-wrapper {
  background: rgb(236, 241, 238);
}

.articles {
  width: 700px;
  margin: 0 auto;
  padding-bottom: 100px;
}

.more-article {
  background: rgb(53, 138, 155);
  box-shadow: 0 5px rgb(0, 125, 150);
  display: block;
  color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  width: 300px;
  margin: 20px auto 0 auto;
}

article {
  border: double;
  border: double rgb(131, 130, 130);
  margin-bottom: 60px;
}


.contact-wrapper {
  background: rgb(234, 245, 243);
  height: 700px;
}

.contact-comment {
  font-size: 16px;
  text-align: center;
}

.form-section {
  width: 600px;
  margin: 0 auto;
  border: solid 0.1px rgb(197, 195, 195);
  padding: 20px 40px 30px 40px;
}

.form-section dt {
  float: left;
  margin-left: 12px;
}

.form-section dd {
  margin-left: 80px;
}

.form-item {
  width: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.name-box, .email-box {
  width: 300px;
  height: 20px;
}
 
.message-box {
  width: 300px;
  height: 120px;
}

.send {
  background: rgb(53, 138, 155);
  box-shadow: 0 5px rgb(0, 125, 150);
  font-size: 13px;
  display: block;
  color: white;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  width: 200px;
  margin: 20px auto 0 auto;
}
 
.send:hover {
  cursor: pointer;
  opacity: 0.8;
}


footer {
  background: rgb(73, 151, 167, 0.9);
}

footer p {
  color: white;
  font-size: 16px;
  padding: 20px 0;
}
